@using ENT;
@model Persona

<ul>
    <li>@Model.Id</li>
    <li>@Model.Nombre</li>
    <li>@Model.Apellidos</li>
    <li>@Model.Telefono</li>
    <li>@Model.Direccion</li>
    <li><img src="@Model.Foto"/></li>
    <li>@Model.FechaNacimiento</li>
    <li>@Model.IDDepartamento</li>
</ul>